/Emacs/**/*.elc
/Emacs/**/*.info
/Emacs/**/*.info-[123]
/Emacs/**/dir
/Emacs/elpa/*.signed
/Emacs/elpa/*-readme.txt
/Emacs/auto-save-list/
/Emacs/elpa/archives/
/Emacs/elpa/gnupg/
/Emacs/ido.last
/Emacs/smex-items
/Emacs/tramp

/Vim/spell/*
/Vim/bundle/external.old/
/Vim/bundle/*/*/.netrwhist
/Vim/**/doc/tags

*.cache
.netrwhist
