/.cask/
/custom.el
/eln-cache/
/init-local.el
/packages/archives/
/packages/**/dir
/packages/**/*.elc
/packages/**/*.so
/packages/emacsql-sqlite-*/
/packages/gnupg/
/packages/*.signed
/packages/tree-sitter-langs-*/
/packages/tsc-*/
/quelpa/
/tree-sitter/*.so
/var/
